<html>
<head>
    <link href="/webjars/Semantic-UI/2.3.1/semantic.css" type="text/css" rel="stylesheet"/>
    <link href="/css/register.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<form class="ui form container">
    <div id="register">
        <div>
            <img id="register-logo" src="/images/logo.png">
        </div>
        <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="text" name="password" placeholder="Password">
        </div>
        <button class="ui button" type="submit">Submit</button>
    </div>
</form>
</body>
<script src="/webjars/jquery/3.3.1-1/jquery.js"></script>
<script src="/webjars/Semantic-UI/2.3.1/semantic.js"></script>
</html>